@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text: #2196F3;
  --accent-battons-hover: #188CE8;
  --background-main-color: #F5F5F5;
  --background-second-color: #F5F4FA;
  --bacground-accent-color: #2F303A;
  --white-color: #FFFFFF;
  --background-footer-color: #2F303A;
  --color-wite-transporet: rgba(255, 255, 255, 0.6);
  --background-icon: #AFB1B8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
}

body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* hide */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.list {
  list-style: none;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.page-header {
  background-color: var(--color-wite-transporet);
  border-bottom: 1px solid #ECECEC;
}

/* логотип */
.logo_header {
  color: var(--accent-text);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  display: block;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}
.logo_header--accent {
  color: var(--title-text-color);
}

/* main naw */
.naw-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* навигация  */
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navigation_list .navigation_item {
  margin-right: 50px;
}

.navigation_list .navigation_item:last-child {
  margin-right: 0;
}

.navigation_list .navigation_link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  text-decoration: none;
}
.navigation_list .navigation_link:hover, .navigation_list .navigation_link:focus {
  color: var(--accent-text);
}

.navigation_link--current {
  color: var(--accent-text);
  position: relative;
  display: block;
}
.navigation_link--current::after {
  content: "";
  color: var(--accent-text);
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-text);
  border-radius: 2px;
  left: 0;
  bottom: -1px;
}

/* contact-nav */
.contact_icon {
  margin-right: 10px;
  fill: currentColor;
}

.contact_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}
.contact_nav.contact_item:hover, .contact_nav .contact_item:focus {
  color: var(--accent-text);
}

.contact_list:first-of-type {
  margin-right: 50px;
}

.contact_list:hover svg,
.contact_list:focus svg {
  fill: var(--accent-text);
}

.contact_list .contact_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}

.contact_nav .contact_item:hover,
.contact_nav .contact_item:focus {
  color: var(--accent-text);
}

.contact_nav .contact_item.current {
  color: var(--accent-text);
}

.hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/heroimg.gpg.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/heroimg.gpg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin: 0 auto;
}
.hero_title {
  max-width: 696px;
  margin: 0 auto 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  color: var(--white-color);
  text-align: center;
  text-transform: uppercase;
}

.buttons_hero {
  color: var(--white-color);
  background-color: var(--accent-text);
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216px;
  text-align: center;
  border: 1px solid transparent;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons_hero:hover, .buttons_hero:focus {
  background-color: var(--accent-battons-hover);
}

.section-about {
  width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .section-about {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .section-about {
    width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.feauter-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  padding: 25px 190px;
  width: 450px;
}
@media screen and (min-width: 768px) {
  .feauter-icon {
    width: 354px;
    padding: 25px 142px;
  }
}
@media screen and (min-width: 1200px) {
  .feauter-icon {
    padding: 25px 100px;
    width: 270px;
  }
}

.section .section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section .section-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 768px) {
  .feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
.feature .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .feature .title {
    text-align: left;
  }
}
.feature .text-feature {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .feature .text-feature {
    width: 354px;
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .feature .text-feature {
    width: 270px;
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .feauter-item {
    -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .feauter-item {
    -ms-flex-preferred-size: calc(25% - 30px);
        flex-basis: calc(25% - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .feature :first-child {
    margin-left: 0px;
  }
}

.section-prodgect {
  width: 1200px;
  padding-bottom: 94px;
}

.prodgect-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.prodgect-item {
  -ms-flex-preferred-size: 33.3333333333%;
      flex-basis: 33.3333333333%;
  margin-right: 30px;
}
.prodgect-item:last-of-type {
  margin-right: 0;
}

.img-item {
  display: block;
}

.item-details {
  position: relative;
  overflow: hidden;
}

.text {
  position: absolute;
  top: 76%;
  left: 0%;
  min-width: 370px;
  min-height: 70px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  background-color: rgba(47, 48, 58, 0.8);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-family: roboto;
  color: var(--white-color);
  padding-left: 107px;
  padding-top: 27px;
  text-transform: uppercase;
}

.prodgect-item:hover .text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/* employee list */
.section-employees {
  width: 480px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: var(--background-second-color);
}
@media screen and (min-width: 768px) {
  .section-employees {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .section-employees {
    width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .employees {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    margin-right: -30px;
  }
}

.employees-item {
  text-align: center;
  width: 450px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .employees-item {
    display: block;
    margin-bottom: 0px;
    -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .employees-item {
    display: block;
    -ms-flex-preferred-size: calc(25% - 30px);
        flex-basis: calc(25% - 30px);
    margin-bottom: 0px;
    width: 270px;
  }
}

.item-employees {
  width: 100%;
}

.employees .coworcer {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.coworcer .work {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.work {
  margin-bottom: 16px;
}

.text-worker {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--color-wite-transporet);
}

.link-li {
  width: 44px;
  height: 44px;
}

.icon-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.link-a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  fill: var(--background-icon);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-a:hover, .link-a:focus {
  fill: var(--white-color);
  color: var(--white-color);
  border-radius: 50%;
  background: var(--accent-text);
}

.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.clients_item {
  width: 170px;
  height: 92px;
}

.clients_icon {
  fill: var(--background-icon);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients_link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--background-icon);
  border-radius: 4px;
}
.clients_link:hover .clients_icon, .clients_link:focus .clients_icon {
  fill: #2196F3;
}
.clients_link:hover, .clients_link:focus {
  border: 1px solid #2196F3;
  border-radius: 4px;
}

.footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer {
  background-color: var(--background-footer-color);
  padding-top: 60px;
  padding-left: 0px;
  padding-bottom: 60px;
}

.logo_foot {
  display: inline-block;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--accent-text);
  font-family: Raleway, sans-serif;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .logo_foot {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}
.logo_foot--accent {
  color: var(--white-color);
}

.adress .adress_link {
  color: var(--white-color);
  font-style: normal;
  font-family: roboto;
  text-decoration: none;
  font-size: 14px;
}
.adress .adress_link:hover, .adress .adress_link:focus {
  color: var(--accent-text);
}
.adress .adress_link :last-child {
  margin-bottom: 0px;
}

.adress_item {
  margin-bottom: 9px;
}

.adress_link--curent {
  font-style: normal;
  font-family: roboto;
  text-decoration: none;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}
.adress_link--curent:hover, .adress_link--curent:focus {
  color: var(--accent-text);
}

/* social network */
.social_footer {
  margin-left: 70px;
}

.social_title {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-family: Roboto;
  color: var(--white-color);
  text-transform: uppercase;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.social_icon {
  display: inline-block;
  fill: var(--white-color);
}

.social_link {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.social_link:hover, .social_link:focus {
  border-radius: 50%;
  background-color: var(--accent-battons-hover);
}

/* mailing footer */
.mailing_list {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-left: 93px;
}

.mailing_title {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  font-family: roboto;
  color: var(--white-color);
  text-transform: uppercase;
}

.mailing_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mailing_link input:hover, .mailing_link input:focus {
  border-color: var(--accent-text);
}

.icon-send {
  position: absolute;
  margin-left: 10px;
}

.mailing_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mailing_link input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  background-color: var(--background-footer-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-right: 12px;
  margin-left: 0;
  width: 358px;
  height: 50px;
  padding: 10px;
  font-family: robota;
  color: var(--white-color);
}

.footer-btn {
  border-color: none;
  border-style: none;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  padding-right: 62px;
  cursor: pointer;
  background-color: var(--accent-text);
  color: var(--white-color);
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  font-family: roboto;
  font-weight: 700;
}
.footer-btn:hover, .footer-btn:focus {
  background-color: var(--accent-battons-hover);
  -webkit-transition: background-color opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* portfolio navigations  */
.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}
.filter_button {
  margin-left: 8px;
}
.filter_button:first-of-type {
  margin-left: 0;
}

.buttons {
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 103px;
  border: 1px solid transparent;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  background-color: var(--background-second-color);
  color: var(--title-text-color);
  font-family: Roboto;
}
.buttons:hover, .buttons:focus {
  background-color: var(--accent-text);
  border: 1px solid transparent;
  color: var(--white-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* portfolio prodjekt */
.cards {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.cards > .cards_item {
  -ms-flex-preferred-size: calc(33.3333333333% - 30px);
      flex-basis: calc(33.3333333333% - 30px);
}

.cards_img {
  display: block;
  max-width: 100%;
}

.cards_name {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}

.cards_title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.cards_project {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.cards_link {
  display: block;
}
.cards_link cards_link:hover, .cards_link:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cards_wrap {
  position: relative;
  overflow: hidden;
}

.cards_text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  background: rgba(33, 150, 243, 0.9);
  color: var(--white-color);
  font-family: roboto;
}

.cards_link:hover .cards_text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/* modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--white-color);
}
.modal:hover {
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 93%;
  bottom: 93%;
  border-radius: 50%;
  background: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover, .close-button:focus {
  fill: var(--accent-battons-hover);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  font-family: roboto;
  color: #212121;
  text-align: center;
  margin-bottom: 12px;
}

/* form */
.form-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}
.form-element label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  font-family: roboto;
}

.form-element input {
  border: none;
  outline: none;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  width: 100%;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-element input:hover, .form-element inputt:focus {
  border: 1px solid var(--accent-text);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.coment {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  font-family: roboto;
}

.chekbox-form {
  margin-top: 20px;
}

.form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-color: none;
  border-style: none;
  border-color: transparent;
  padding: 10px 52px;
  margin-top: 30px;
  background-color: var(--accent-text);
  color: var(--white-color);
  cursor: pointer;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-btn:hover, .form-btn:focus {
  background-color: #188CE8;
  -webkit-transition: background-color opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap {
  position: relative;
}

.form-element svg {
  position: absolute;
  top: 50%;
  left: 12px;
  translate: 0 -50%;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-element input:focus + svg,
.form-element input:hover + svg {
  fill: var(--accent-text);
  -webkit-transition: fill opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), color opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), color opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-element textarea {
  border-color: none;
  border-style: none;
  outline: none;
  Width: 448px;
  height: 120px;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-element textarea:hover,
.form-element textarea:focus {
  border: 1px solid #2196F3;
  border-radius: 4px;
  -webkit-transition: border opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), color opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), color opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-aria {
  color: var(--accent-text);
  text-decoration: underline;
}

.accept {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: roboto;
}

.label-accept {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkbox {
  border-radius: 4px;
  border: 2px solid #000000;
  width: 16px;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  margin-right: 7px;
}

.accept input:checked + .label-accept .checkbox {
  background: var(--accent-text);
  border: 2px solid var(--accent-text);
  border-radius: 4px;
  -webkit-transition: border opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), color opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), color opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}/*# sourceMappingURL=main.css.map */