.section-prodgect {
    width: 480px;
    display: none;
    

    @media screen and (min-width: 768px) {
            width: 768px;
            display: none;
        }
    @media screen and (min-width: 1200px) {
     width: 1200px;
    padding-bottom: 94px;
    display: block;
}
    
}

.prodgect-list {
    display: flex;
}

.prodgect-item {
    flex-basis: calc(100% / 3);
    margin-right: 30px;

    &:last-of-type {
            margin-right: 0;
        }
}
.img-item {

    display: block;
}

.item-details {
    position: relative;
    overflow: hidden;
}

.text {
    position: absolute;
    top: 76%;
    left: 0%;
    min-width: 370px;
    min-height: 70px;
    transform: translateY(100%);
    background-color: rgba(47, 48, 58, 0.8);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @include font(700, 14px, 1.14, 0.03em);
    font-family: roboto;
    color: var(--white-color);
    padding-left: 107px;
    padding-top: 27px;
    text-transform: uppercase;
}

.prodgect-item:hover .text {
    transform: translateY(0);

}

