.footer-link {
    display: flex;
    align-items: baseline;
}

.footer {
    background-color: var(--background-footer-color);
    padding-top: 60px;
    padding-left: 0px;
    padding-bottom: 60px;
}

.logo_foot {
    display: inline-block;
    text-align: center;

    @include font(700, 24px, 1.16, 0.03em);
    color: var(--accent-text);
    font-family: Raleway, sans-serif;
    margin-bottom: 20px;

    @media screen and (min-width: 1200px){
    @include font(700, 26px, 1.19, 0.03em)
    }

        &--accent {
            color: var(--white-color);
        }
}


.adress .adress_link{

    color: var(--white-color);
    font-style: normal;
    font-family: roboto ;
    text-decoration: none;
    font-size: 14px;
    
        &:hover,
        &:focus {
            color: var(--accent-text);
        }
                & :last-child {
                    margin-bottom: 0px;
                }
}

.adress_item {
    margin-bottom: 9px;
}

.adress_link--curent{
       font-style: normal;
        font-family: roboto;
        text-decoration: none;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.6);
      
        &:hover,
        &:focus {
        color: var(--accent-text);
        }
}

/* social network */
.social_footer {
   
    margin-left: 70px;
}

.social_title {
     display: inline-block;
     margin-bottom: 20px;

    @include font(700, 14px, 1.14, 0.03em);

    font-family: Roboto;
    color: var(--white-color);
    text-transform: uppercase;
}

.social {
     display: flex;
    gap: 10px;

    &_icon {
         display: inline-block;
        fill: var(--white-color);
        }
}

.social_link{
     justify-content: center;
     display: flex;
     align-items: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

       &:hover,
        &:focus {
            border-radius: 50%;
            background-color: var(--accent-battons-hover);
        }
}



/* mailing footer */
.mailing_list {
     align-items: baseline;
    margin-left: 93px;
}

.mailing_title {
     display: inline-block;

    @include font(700, 14px, 1.1, 00.03em);

    margin-bottom: 20px;
    font-family: roboto;
    color: var(--white-color);
    text-transform: uppercase;

}
.mailing_link {
     display: flex;

    & input:hover,
    & input:focus {
        border-color: var(--accent-text);
    }
}

.icon-send {
    position: absolute;
    margin-left: 10px;
}

.mailing_form {
     display: flex;
}

.mailing_link input {
    @include font(400, 16px, 1.15, 0.03em);

    background-color: var(--background-footer-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-right: 12px;
    margin-left: 0;
    width: 358px;
    height: 50px;
    padding: 10px;
    font-family: robota;
    color: var(--white-color);

}
.footer-btn {
    border-color: none;
    border-style: none;
    width: 200px;
    height: 50px;
    padding: 10px 28px;
    padding-right: 62px;
    cursor: pointer;
    background-color: var(--accent-text);
    color: var(--white-color);
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    font-family: roboto;
    font-weight: 700;

        &:hover,
        &:focus {
            background-color: var(--accent-battons-hover);
            transition: background-color opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
}

