:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-text: #2196F3;
    --accent-battons-hover: #188CE8;
    --background-main-color: #F5F5F5;
    --background-second-color: #F5F4FA;
    --bacground-accent-color: #2F303A;
    --white-color: #FFFFFF;
    --background-footer-color: #2F303A;
    --color-wite-transporet: rgba(255, 255, 255, 0.6);
    --background-icon: #AFB1B8;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

